@import '~bootstrap/scss/variables';

$size : 60px;
$border-size : $size / 7;

.spinner {
    position : fixed;
    margin : auto;
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;

    border: $border-size solid $gray-lighter;
    border-top: $border-size solid $brand-primary;
    border-radius: 50%;
    width: $size;
    height: $size;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}