.navbar-brand {
  color: lightgray;
}

.navbar-collapse {
  margin: 0 0 0 3em;
}

.nav-item {
  margin-right: 1em;
  font-size: 1em;
  color: white;

  a {
    color : white;

    &.active, &:hover {
      background : white;
      color : black;
      transition : all 0.5s;
      border-radius : 5px;
    }
  }
}